@media screen and (max-width: 854px) {
    main {
        height: calc(100% - 200px) !important;
    }

    header {
        height: 200px !important;
        text-align: center;
        padding-top: 20px !important;
    }

    #banner {
        position: relative !important;
        top: 20px !important;
        right: 0 !important;
    }
}

@media screen and (max-width: 399px) {
    main {
        height: calc(100% - 250px) !important;
    }

    header {
        height: 250px !important;
        text-align: center;
        padding-top: 20px !important;
    }

    header h1 {
        margin-left: 0 !important;
    }
}

main {
    height: calc(100% - 150px);
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px 30px;
}

header {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

header h1 {
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: 5px;
}

header input {
    height: 100%;
    width: 100%;
    display: inline;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 15px;
    color: gray;
}

#exp {
    max-width: 500px;
}

#banner {
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    right: 30px;
    margin: auto;
    top: 100px;
    border: 1px solid black;
}
